<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'collections' %}">Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
                </li>
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                        <div class="btn-group">
                            <button type="button" class="nav-link dropdown-toggle text-capitalize" data-bs-toggle="dropdown"
                                data-bs-display="static" aria-expanded="false">
                                {{ request.user }}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-sm -start">
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'register' %}">Register</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'login' %}">Login</a>
                          </li>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
