{% extends "store/layouts/main.html" %}

{% block title %}
{{ products.name }}
{% endblock title %}

{% block content %}
{% include "store/inc/navbar.html" %}
<div class="container mt-5">
    <form action="{% url 'placeorder' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            {% if cart %}
            <div class="col-7">
                <div class=" main-content-area">
                    <div class="wrap-address-billing">
                        <h3 class="box-title">Billing Address</h3>
                            <p class="row-in-form mx-1">
                                <label for="fname">first name<span>*</span></label>
                                <input id="fname" type="text" value="{{ request.user.first_name }}" required name="fname"  placeholder="Your name">
                            </p>
                            <p class="row-in-form mx-1">
                                <label for="lname">last name<span>*</span></label>
                                <input id="lname" type="text" value="{{ request.user.last_name }}" required name="lname"  placeholder="Your last name">
                            </p>
                            <p class="row-in-form mx-1">
                                <label for="email">Email Addreess:</label>
                                <input id="email" type="email" value="{{ request.user.email }}" required name="email"  placeholder="Type your email">
                            </p>
                            <p class="row-in-form mx-1">
                                <label for="phone">Phone number<span>*</span></label>
                                <input id="phone" type="text" value="{{ userProfile.phone_no }}" required name="phone_no"  placeholder="10 digits format">
                            </p>
                            <p class="row-in-form mx-1">
                                <label for="add">Address:</label>
                                <input id="add" type="text" value="{{ userProfile.address }}" required name="address"  placeholder="Street at apartment number">
                            </p>
                            <p class="row-in-form mx-1">
                                <label for="country">Country<span>*</span></label>
                                <input id="country" type="text" value="{{ userProfile.country }}" required name="country"  placeholder="India">
                            </p>
                            <p class="row-in-form mx-1">
                                <label for="zip-code">Pincode:</label>
                                <input id="zip-code" type="number" value="{{ userProfile.pincode }}" required name="pincode"  placeholder="Your pin code">
                            </p>
                            <p class="row-in-form mx-1">
                                <label for="city">Town / City<span>*</span></label>
                                <input id="city" type="text" value="{{ userProfile.city }}" required name="city"  placeholder="City name">
                                <input type="hidden" name="payment_mode" value="COD"  placeholder="payment_mode">
                            </p>
                    </div>
                </div>
    
            </div>
            <div class="col-5">
                <div class="summary px-4">
                    <div class="order-summary">
                        {% if cartitems %}
                        <h4 class="fs-5">Order Summary</h4>
                        <hr class="m-0">
                        <table class="table table-hover">
                            <thead>
                                <tr style="font-size: 14px">
                                    <th>Product</th>
                                    <th>Item Name</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cartitems %}
                                   <tr>
                                        <td>
                                            <img src="{{ item.product.product_image.url }}" width="40px" alt="">
                                        </td>
                                        <td style="font-size: 14px">{{item.product.name}}</td>
                                        <td>{{item.product_qty}}</td>
                                        <td>{{item.product.selling_price | stringformat:'d'}}</td>
                                   </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <p class="summary-info"><span class="title">Subtotal</span><b class="index">₹ {{total_price | stringformat:'d'}}</b></p>
                        {% if total_price >= 499 %}
                        <p class="summary-info"><span class="title">Shipping</span><b class="index">Free Shipping</b></p>
                        <p class="summary-info total-info "><span class="title">Total</span><b class="index">₹ {{total_price | stringformat:'d'}}</b>
                        </p>
                        {% else %}
                        <p class="summary-info"><span class="title">Shipping  Charge</span><b class="index"> ₹ 49 </b></p>
                        <p class="summary-info total-info "><span class="title">Total</span><b class="index">₹ {{total_shipping_price | stringformat:'d'}}</b>
                        </p>
                        {% endif %}
                        <div class="checkout-info">
                            <button class="btn btn-checkout" style="background-color: #ff0000" href="{% url 'checkout' %}">COD | Place Order</button>
                            <button class="btn btn-checkout mt-0 payWithRazopay" style="background-color: #0073ff">Pay With Razopay</button>
                            <a class="link-to-shop" href="{% url 'collections' %}">Continue Shopping<i class="fa fa-arrow-circle-right"
                                    aria-hidden="true"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% endblock scripts %}
