{% extends "store/layouts/main.html" %}

{% block title %}
Collection Page
{% endblock title %}

{% block content %}
{% include "store/inc/navbar.html" %}
<div class="container mt-3">
    <div class="row">
        {% for item in category %}
        <div class="col text-center">
            <a href="{% url 'collectionsview' item.slug %}" title=" {{item.name}}">
                <img src="{{item.image.url}}" class="ms-1"
                        style="width:100px;height:100px;border-radius:50%;border:1px solid rgb(237, 52, 52);"
                        alt="T-Shirt Raw Hem Organic Boro Constrast Denim">
                <p class="mt-1 text-dark"><span>{{item.name}}</span></p>
            </a>
        </div>
        {% endfor %}
    </div>
    <h3 class="h5 mb-3">Top Products</h3>
    <div class="row row-cols-5">
        {% for item in products %}
        <div class="px-3 mb-5">
            <div class="card shadow" style="border: 1px solid rgba(253, 124, 11, 0.314);">
                <div class="card-body product_data">
                    <a href="{% url 'productview' item.category.slug item.slug item.id  %}" title="{{item.name}}">
                        <img src="{{item.product_image.url}}" style="width:100%;height:250px;object-fit:fit;" alt="T-Shirt Raw Hem Organic Boro Constrast Denim">
                        {% csrf_token %}
                        <input type="hidden" value="{{item.id}}" class="prod_id">
                        <input type="hidden" name="quantity" class="form-control qty-input text-center" value="1">
                        <div class="text-dark text-truncate"> {{item.name}}</div>
                        <div class="wrap-price text-dark"><del class="text-danger">₹ {{item.original_price | stringformat:'d'}}</del><span class="product-price ms-2">₹ {{item.selling_price | stringformat:'d'}}</span></div>
                        <button style="background-color: #ff0000;width:100%;" class="text-white border-0 py-1 cartbtn px-3">Add To Cart</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}