{% extends "store/layouts/main.html" %}

{% block title %}
{{ category_name.name }}
{% endblock title %}

{% block content %}
{% include "store/inc/navbar.html" %}
<main id="main" class="main-site left-sidebar">
    <div class="container">
        <div class="wrap-breadcrumb">
            <ul>
                <li class="item-link"><a href="{% url 'home'  %}" class="link">home</a></li>
                <li class="item-link"><a href="{% url 'collections'  %}" class="link">Collections</a></li>
                <li class="item-link"><a href="{% url 'collectionsview' category_name.slug %}"
                        class="link">{{category_name.name}}</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="main-content-area">
                <div class="row row-cols-5">
                    {% for item in products %}
                    <div class="px-3 mb-5">
                        <div class="card shadow" style="border: 1px solid rgba(253, 124, 11, 0.314);">
                            <div class="card-body product_data">
                                <a href="{% url 'productview' item.category.slug item.slug item.id %}" title="{{item.name}}">
                                    <img src="{{ item.product_image.url }}"
                                        style="width:100%;height:240px;object-fit:fit;"
                                        alt="T-Shirt Raw Hem Organic Boro Constrast Denim">
                               
                                {% csrf_token %}
                                <input type="hidden" value="{{item.id}}" class="prod_id">
                                <input type="hidden" name="quantity" class="form-control qty-input text-center"
                                    value="1">
                                <div class="text-truncate" style="font-size:16px;color:black"><span>{{item.name}}</span>
                                </div>
                                <div class="wrap-price">
                                    <del class="text-danger me-3"><small>₹ {{ item.original_price | stringformat:'d'}}</small></del>
                                    <span class="product-price">₹ {{item.selling_price | stringformat:'d'}}</span>
                                </div>
                                
                                <button style="background-color: #ff0000;width:100%;"
                                    class="text-white border-0 py-1 cartbtn px-3">Add To Cart</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

</main>
{% endblock content %}