{% extends "store/layouts/main.html" %}

{% block title %}
{{ category_name.name }}
{% endblock title %}

{% block content %}
{% include "store/inc/navbar.html" %}
<div class="bg-danger py-1">
    <div class="container">
        <div class="d-flex mt-2">
            <h5><a href="{% url 'home'  %}" class="text-white">Home /</a></h5>
            <h5 class="ms-1"><a href="{% url 'collections'  %}" class="text-white">Collections /</a></h5>
            <h5 class="ms-1"><a href="{% url 'collectionsview' category_name.slug %}" class="text-white">{{ category_name.name }}</a></h5>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h4">{{ category_name.name }}</h1>
            <div class="row mt-4">
                {% for item in products %}
                <div class="col-md-2">
                    <div class="card">
                        <a href="{% url 'productview' item.category.slug item.slug %}">
                            <img src="{{ item.product_image.url }}" width="100%" height="160px" class="rounded-lg"
                                    alt="">
                            <div class="card-body p-1">
                                <h5 class="h6 p-1 m-0">{{ item.name }}</h5>
                                <p class="d-flex m-0">
                                    <del class="text-danger me-3">₹ {{ item.original_price | stringformat:'d' }}</del>
                                    <span>₹ {{ item.selling_price | stringformat:'d' }}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
